dependencies

/frontend-web/node_modules
/.pnp
.pnp.js

testing

/frontend-web/coverage

next.js

/frontend-web/.next/
/frontend-web/out/
/frontend-web/build

misc

.DS_Store
*.pem

debug

npm-debug.log*
yarn-debug.log*
yarn-error.log*

local env files

.env*.local
.env
.env.development
.env.production

python / backend

/backend-crawler/pycache/
/backend-crawler/venv/
/backend-crawler/.venv/
/backend-crawler/*.pyc
/backend-crawler/.pytest_cache/
